@import "tailwindcss";

@theme {
  --animate-slide-up: slideUp 0.5s ease-out forwards;

  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

:root {
  --background-start: #0a0a0e;
  --background-end: #000000;
}

body {
  background: linear-gradient(to bottom, var(--background-end), var(--background-start));
  color: white;
}

.animate-slide-up {
  animation: slideUp 0.5s ease-out forwards;
}